<h4>Welcome to the Serials Administration Interface for sfx2sirsi</h4>
<p>&nbsp;</p>
<p>To begin, search for e-journals by CATKEY, ISSN, OBJECT ID, TITLE, or TARGET</p>
<p>or use the facets on the left to browse.</p>
<p>Please send any questions, comments, or concerns to <a mailto:sam.popowich@ualberta.ca>Sam.Popowich@ualberta.ca</a></p>
<% #Creates a bit space in the page -%>

